.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  background-image: url("./assets/gas-man.png");
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#main-body {
  background-color: gray;
  min-height: 80%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  backdrop-filter: blur(6px) saturate(180%);
  -webkit-backdrop-filter: blur(6px) saturate(180%);
  background-color: rgba(23, 35, 60, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.heading {
  padding-bottom: 20px;
}

.input-box {
  padding-bottom: 20px;
}

.input-box label {
  padding-right: 15px;
  font-size: 20px;
}

.input-box input {
  border-radius: 5px;
  line-height: 20px;
}

.submit-btn {
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
}

#result {
  font-size: 28px;
}
